/***** Import Family *****/
/* Title Restaurant : Shrikhand */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* Font Family All */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/***** All param *****/
html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;;
}

/***** ALL Variables *****/
/* Background color */
$background-white: #ffffff;
$background-very-light-grey: #f6f6F6;
$background-soft-grey: #EAEAEA;
$background-footer-grey: #353535;

/* Font color */
$font-grey: #353535;
$font-black: #000000;
$font-white: #ffffff;

/* Icon color */
$icon-purple-color: #9356DC;
$icon-grey: #7E7E7E;

/* Badge and line green */
$line-green: #99E2D0;
$badge-green:  #99E2D0;

/* Font family -> All mixin */
@mixin font-big-title {
    font-size: 24px;
    font-weight: 700;
}

/* Mixin position for all media */
@mixin Page-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Button -> All mixin */
@mixin purple-button {
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(#ff79da, #9356DC);
    color: $font-white;
    padding: 13px;
    border: none;
}

/* Card -> All mixin */
@mixin small-card {
    width: 322px;
    height: 72.4px;
    border-radius: 20px;
    background-color: $background-very-light-grey;
    border: none;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    .purple-number {
        width: 24px;
        height: 24px;
        border-radius: 20px;
        background-color: $icon-purple-color;
        color: $font-white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    svg {
        padding: 0 20px 0 25px;
    }

    h2 {
        font-size: 16px;
        font-weight: 500;
        color: $font-black;
    }
}

@mixin big-card {
    width: 90%;
    height: 251px;
    border-radius: 15px;

    img {
        width: 100%;
        height: 70%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    h2 {
        font-size: 18px;
        font-weight: 700;
    }

    p {
        font-size: 17px;
        font-weight: 300;
    }
}

/* ######## Code Page ######## */

/* Logo */
header img {
    width: 197px;
    padding: 20px 0;
}

/* Section : Localisation */
.localisation {
    width: 100%;
    height: 50px;
    background-color: $background-soft-grey;
    @include Page-position;
    flex-direction: row;
    gap: 17px;

    svg {
        width: 12px;
        height: 16px;
    }

    input {
        width: 109px;
        background-color: $background-soft-grey;
        border: none;
    }
    input::placeholder {
        color: $font-grey;
    }
}
/* Section : Présentation */
.presentation {
    width: 100%;
    padding: 35px 0;
    text-align: center;
    background-color: $background-very-light-grey;

    h1 {
        @include font-big-title;
        margin: 0;
        padding: 0 20px;
    }
    h2 {
        font-size: 18px;
        font-weight: 300;
        padding: 15px 15px;
    }

    button {
        @include purple-button;
        margin-bottom: 15px;
    }
}

/* Section : Fonctionnement */
.fonctionnement {
    margin: 25px 0;
    @include Page-position;
    h1 {
        width: 90%;
        display: flex;
        justify-content: flex-start;
    }
    .small-card {
        margin: 15px 0;
        @include small-card;
    }
}

.small-card {
    width: 322px;
    position: relative;
}
.purple-number {
    position: absolute;
    left: -4%;
}

/* Section Restaurants */
.restaurants {
    @include Page-position;
    background-color: $background-very-light-grey;

    h1 {
        @include font-big-title;
        width: 90%;
        display: flex;
        justify-content: flex-start;
    }
    .big-card {
        @include big-card;
    }
}