/***** Import Family *****/
/* Title Restaurant : Shrikhand */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* Font Family All */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/***** All param *****/
html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body,
main {
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

/***** ALL Variables *****/
/* Background color */
$background-white: #ffffff;
$background-very-light-grey: #f6f6F6;
$background-soft-grey: #EAEAEA;
$background-footer-grey: #353535;
$background-green: #99E2D0;

/* Font color */
$font-grey: #353535;
$font-black: #000000;
$font-white: #ffffff;
$font-green: #008766;

/* Icon color */
$icon-purple-color: #9356DC;
$icon-grey: #7E7E7E;

/* Badge and line green */
$line-green: #99E2D0;
$badge-green:  #99E2D0;

/* Font family -> All mixin */
@mixin font-big-title {
    font-size: 24px;
    font-weight: 700;
}

/* Mixin position for all media */
@mixin Page-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Button -> All mixin */
@mixin purple-button {
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(#ff79da, #9356DC);
    color: $font-white;
    padding: 13px;
    border: none;
}

/* Card -> All mixin */
@mixin small-card {
    width: 90%;
    height: 72.4px;
    border-radius: 20px;
    background-color: $background-very-light-grey;
    border: none;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .purple-number {
        width: 24px;
        height: 24px;
        border-radius: 20px;
        background-color: $icon-purple-color;
        color: $font-white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    svg {
        padding: 0 20px 0 35px;
    }

    h2 {
        font-size: 16px;
        font-weight: 500;
        color: $font-black;
    }
    
    @media screen and (min-width:1075px) {
        width: 322px;
        margin: 0 18px;
    }
}

@mixin big-card {
    width: 90%;
    height: 251px;
    border-radius: 15px;

    img {
        width: 100%;
        height: 70%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    .new-restaurant {
        width: 80px;
        height: 29px;
        background-color: $background-green;
        color: $font-green;
        font-size: 14px;
        font-weight: 500;
        border-radius: 2px;
    }

    .card-content {
        height: 20%;
        padding: 10px;
        background-color: $background-white;
        border-radius: 0 0 15px 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 18px;
            font-weight: 700;
            margin: 0 0 5px;
        }
    
        p {
            font-size: 17px;
            font-weight: 300;
            margin: 0;
        }
        
    }

}

/* ######## Code Page ######## */

/* Logo */
header img {
    width: 197px;
    padding: 20px 0;
}

/* Section : Localisation */
.localisation {
    width: 100%;
    height: 50px;
    background-color: $background-soft-grey;
    @include Page-position;
    flex-direction: row;
    gap: 17px;

    svg {
        width: 12px;
        height: 16px;
    }

    input {
        width: 109px;
        background-color: $background-soft-grey;
        border: none;
    }
    input::placeholder {
        color: $font-grey;
    }
}

/* Section : Présentation */
.presentation {
    width: 100%;
    padding: 35px 0;
    text-align: center;
    background-color: $background-very-light-grey;

    h1 {
        @include font-big-title;
        margin: 0;
        padding: 0 20px;
    }
    h2 {
        font-size: 18px;
        font-weight: 300;
        padding: 15px 15px;
    }

    button {
        @include purple-button;
        margin-bottom: 15px;
    }
}

/* Section : Fonctionnement */
.fonctionnement {
    width: 100%;
    max-width: 1110px;
    margin: 25px 0;
    @include Page-position;

    h1 {
        width: 90%;
        display: flex;
    }

    .fonctionnement-change-position {
        width: 100%;
        @include Page-position;
    }
    .small-card {
        width: 100%;
        margin: 15px 0;
        @include small-card;
    }
    
    @media screen and (min-width: 1075px) {
        h1 {
            width: 98%;
        }

        .fonctionnement-change-position {
            flex-direction: row;
            gap: 25px;
        }

        .small-card {
            width: 322px;
        }
    }
}

/* Position chiffre sur small-card */
.small-card {
    position: relative;
    display: inline-block;
}

.small-card div {
    width: 100%;
    display: block;
}

.purple-number {
    position: absolute;
    left: -2%;
}

/* Section Restaurants */
.restaurants {
    width: 100%;
    padding: 25px 0 25px;
    @include Page-position;
    background-color: $background-very-light-grey;

    .restaurants-change-position {
        width: 100%;
        @include Page-position;
    }
    
    .new-restaurant {
        @include Page-position;
    }

    h1 {
        @include font-big-title;
        width: 90%
    }

    .big-card {
        @include big-card;
        margin-bottom: 20px;
    }
    
    @media screen and (min-width: 1075px) {

        .restaurant-title-desktop {
            width: 100%;
            max-width: 1080px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .restaurants-change-position {
            flex-direction: row;
            gap: 100px;
        }

        .big-card {
            min-width: 340px;
            max-width: 490px;
        }
    }
}

/* Position mention nouveau restaurant */
.big-card {
    position: relative;
    display: inline-block;
}

.big-card img {
    display: block;
    width: 100%;
    height: auto;
}

.new-restaurant {
    position: absolute;
    top: 5%;
    right: 5%;
}

/* Footer */
footer {
    width: 100%;
    background-color: $background-footer-grey;
    
    .footer-content {
        width: 89%;
        display: flex;
        flex-direction: column;
        margin: 22px;
    }

    .footer-desktop-reverse {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .footer-content a {
        width: auto;
        max-width: 190px; 
    }
    
    .footer-link {
        display: flex;
        flex-direction: column;

        gap: 16px;
    }

    .footer-content a svg {
        padding-right: 10px;
    }

    h1 {
        font-family: 'Shrikhand';
        font-size: 18px;
        font-weight: 400;
        color: $font-white;
    }

    a {
        color: $font-white;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
    }

    @media screen and (min-width: 1075px) {
        footer {
            height: 54px;
            padding: 30px 25px;
        }

        .footer-content h1 {
            margin: 0;
            padding: 0 20px 0 40px;
        }

        .footer-content {
            width: 95%;
            flex-direction: row-reverse;
            align-items: flex-end;
            justify-content: flex-start;
        }

        .footer-desktop-reverse {
            height: 20px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .footer-link {
            flex-direction: row;
            padding: 0 35px 0 15px;
        }

        .footer-content a {
            width: auto;
            height: 20px;
        }
    }
}