@charset "UTF-8";
/***** Import Family *****/
/* Title Restaurant : Shrikhand */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* Font Family All */
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/***** All param *****/
html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body,
main {
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

/***** ALL Variables *****/
/* Background color */
/* Font color */
/* Icon color */
/* Badge and line green */
/* Font family -> All mixin */
/* Mixin position for all media */
/* Button -> All mixin */
/* Card -> All mixin */
/* ######## Code Page ######## */
/* Logo */
header img {
  width: 197px;
  padding: 20px 0;
}

/* Section : Localisation */
.localisation {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 17px;
}
.localisation svg {
  width: 12px;
  height: 16px;
}
.localisation input {
  width: 109px;
  background-color: #EAEAEA;
  border: none;
}
.localisation input::placeholder {
  color: #353535;
}

/* Section : Présentation */
.presentation {
  width: 100%;
  padding: 35px 0;
  text-align: center;
  background-color: #f6f6F6;
}
.presentation h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0 20px;
}
.presentation h2 {
  font-size: 18px;
  font-weight: 300;
  padding: 15px 15px;
}
.presentation button {
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356DC);
  color: #ffffff;
  padding: 13px;
  border: none;
  margin-bottom: 15px;
}

/* Section : Fonctionnement */
.fonctionnement {
  width: 100%;
  max-width: 1110px;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fonctionnement h1 {
  width: 90%;
  display: flex;
}
.fonctionnement .fonctionnement-change-position {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fonctionnement .small-card {
  width: 100%;
  margin: 15px 0;
  width: 90%;
  height: 72.4px;
  border-radius: 20px;
  background-color: #f6f6F6;
  border: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fonctionnement .small-card .purple-number {
  width: 24px;
  height: 24px;
  border-radius: 20px;
  background-color: #9356DC;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fonctionnement .small-card svg {
  padding: 0 20px 0 35px;
}
.fonctionnement .small-card h2 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
@media screen and (min-width: 1075px) {
  .fonctionnement .small-card {
    width: 322px;
    margin: 0 18px;
  }
}
@media screen and (min-width: 1075px) {
  .fonctionnement h1 {
    width: 98%;
  }
  .fonctionnement .fonctionnement-change-position {
    flex-direction: row;
    gap: 25px;
  }
  .fonctionnement .small-card {
    width: 322px;
  }
}

/* Position chiffre sur small-card */
.small-card {
  position: relative;
  display: inline-block;
}

.small-card div {
  width: 100%;
  display: block;
}

.purple-number {
  position: absolute;
  left: -2%;
}

/* Section Restaurants */
.restaurants {
  width: 100%;
  padding: 25px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6F6;
}
.restaurants .restaurants-change-position {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.restaurants .new-restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.restaurants h1 {
  font-size: 24px;
  font-weight: 700;
  width: 90%;
}
.restaurants .big-card {
  width: 90%;
  height: 251px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.restaurants .big-card img {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurants .big-card .new-restaurant {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
}
.restaurants .big-card .card-content {
  height: 20%;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.restaurants .big-card .card-content h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 5px;
}
.restaurants .big-card .card-content p {
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}
@media screen and (min-width: 1075px) {
  .restaurants .restaurant-title-desktop {
    width: 100%;
    max-width: 1080px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .restaurants .restaurants-change-position {
    flex-direction: row;
    gap: 100px;
  }
  .restaurants .big-card {
    min-width: 340px;
    max-width: 490px;
  }
}

/* Position mention nouveau restaurant */
.big-card {
  position: relative;
  display: inline-block;
}

.big-card img {
  display: block;
  width: 100%;
  height: auto;
}

.new-restaurant {
  position: absolute;
  top: 5%;
  right: 5%;
}

/* Footer */
footer {
  width: 100%;
  background-color: #353535;
}
footer .footer-content {
  width: 89%;
  display: flex;
  flex-direction: column;
  margin: 22px;
}
footer .footer-desktop-reverse {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer-content a {
  width: auto;
  max-width: 190px;
}
footer .footer-link {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer-content a svg {
  padding-right: 10px;
}
footer h1 {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
footer a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
@media screen and (min-width: 1075px) {
  footer footer {
    height: 54px;
    padding: 30px 25px;
  }
  footer .footer-content h1 {
    margin: 0;
    padding: 0 20px 0 40px;
  }
  footer .footer-content {
    width: 95%;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
  }
  footer .footer-desktop-reverse {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  footer .footer-link {
    flex-direction: row;
    padding: 0 35px 0 15px;
  }
  footer .footer-content a {
    width: auto;
    height: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
